﻿<div class="status-panel">
	<div class="circle__chart"></div>
	<div ng-show="ctrl.duplicates">
		<strong>Error</strong>: There are multiple measurements with the same alias. Please give each measurement a unique name.
	</div>

	<div class="st-card-front" ng-hide="ctrl.duplicates">
		<div class="ok-text" ng-style="ctrl.panel.colorMode === 'Metric' && !ctrl.panel.isIgnoreOKColors && {'color':ctrl.panel.colors.ok}">OK</div>
		<div class="warning-text" ng-style="ctrl.panel.colorMode === 'Metric' && {'color':ctrl.panel.colors.warn}">Warning</div>
		<div class="fail-text" ng-style="ctrl.panel.colorMode === 'Metric' && {'color':ctrl.panel.colors.crit}">Critical</div>
		<div class="no-data-text" ng-style="ctrl.panel.colorMode === 'Metric' && {'color':ctrl.panel.colors.disable}">No data</div>
		<div class="disabled-text" ng-style="ctrl.panel.colorMode === 'Metric' && {'color':ctrl.panel.colors.disable}">Disabled</div>
	</div>
	<div class="st-card-back" ng-hide="ctrl.duplicates" ng-style="{ 'min-height': ctrl.minHeight }">
		<span class="NameHighlights">
			<a href="product link is here"></a>
		</span>
		<div class="top_section">
			<div class="status-panel-annotation_row" ng-if="ctrl.annotation.length > 0" ng-style="ctrl.panel.colorMode === 'Metric' && !ctrl.panel.isIgnoreOKColors && {'color':ctrl.panel.colors.ok}">
				<div ng-repeat="annotation in ctrl.annotation" >
					<div class="row-overflow" ng-style="{ 'max-width': ctrl.maxWidth }">
						<a ng-show="annotation.url" ng-href="{{ annotation.url | interpolateTemplateVars:this }}" target="_blank" style="color:inherit">{{ annotation.alias }}</a>
						<span ng-hide="annotation.url">{{ annotation.alias }}</span>
						<span ng-show="annotation.isDisplayValue" bs-tooltip="'{{ annotation.display_value }}'"> - {{ annotation.display_value |  numberOrTextWithRegex : annotation.valueDisplayRegex}} </span>
					</div>
				</div>
			</div>
		</div>

		<div class="bottom_section" ng-style="ctrl.annotation.length === 0 && { 'min-height': ctrl.minHeight }">
			<div class="status_name_row">
				<h1>
					<a ng-href="{{ ctrl.uri | interpolateTemplateVars:this }}" target="{{ ctrl.targetBlank ? '_blank' : '_self' }}" ng-if="ctrl.uri">
						{{ ctrl.panel.displayName | interpolateTemplateVars:this }}
					</a>
					<span ng-hide="ctrl.uri">
					{{ ctrl.panel.displayName | interpolateTemplateVars:this }}
				</span>
				</h1>
			</div>

			<div ng-class="{'marquee_container': ctrl.isAutoScrollAlerts()}">
				<div class="status_alerts_row" ng-class="{'marquee_element': ctrl.isAutoScrollAlerts()}" ng-if="ctrl.panel.viewFormat == 'Default'">
					<div ng-style="ctrl.panel.colorMode === 'Metric' && !ctrl.panel.isIgnoreOKColors && {'color':ctrl.panel.colors.ok}" ng-repeat="display in ctrl.display">
						<img ng-if="ctrl.panel.iconSwitch" src="https://hds.static.autodesk.com/images/table-status-good.svg" alt="Good">
						<a ng-show="display.url" ng-href="{{ display.url | interpolateTemplateVars:this }}" target="_blank">{{ display.alias }}</a>
						<span ng-hide="display.url">{{ display.alias }}</span>
						<span ng-show="display.isDisplayValue">{{ display.display_value | numberOrTextWithRegex : display.valueDisplayRegex }}</span>
					</div>
					   
					<div ng-style="ctrl.panel.colorMode === 'Metric' && {'color':ctrl.panel.colors.ok}"
						ng-class="{'boldAlertMetric': ctrl.panel.fontFormat === 'Bold', 'italicAlertMetric': ctrl.panel.fontFormat === 'Italic'} " ng-repeat="(statusName, series) in ctrl.groupedTriggeredStatuses">
						<img src="{{ctrl.getFirstNotNullIcon(series, ctrl.DEFAULT_ERROR_STATUS_ICON)}}" alt="{{statusName}}">
						<a ng-if="series[0].group.alias && series[0].group.url" ng-href="{{ series[0].group.url | interpolateTemplateVars:this }}" target="_blank" >{{ ctrl.formatAlias(series[0].group.alias, series.length, statusName) }}</a>
						<a ng-if="!series[0].group.alias && series[0].group.url" ng-href="{{ series[0].group.url | interpolateTemplateVars:this }}" target="_blank" >{{ series.length }} {{series[0].group.name}} {{statusName}}</a>
						<a ng-if="series[0].group.alias && !series[0].group.url" ng-href="{{ series[0].url | interpolateTemplateVars:this }}" target="_blank" >{{ ctrl.formatAlias(series[0].group.alias, series.length, statusName) }}</a>
						<a ng-if="!series[0].group.alias && !series[0].group.url" ng-href="{{ series[0].url | interpolateTemplateVars:this }}" target="_blank" >{{ series.length }} {{series[0].group.name}} {{statusName}}</a>
					</div>

					<div ng-style="ctrl.panel.colorMode === 'Metric' && {'color':ctrl.panel.colors.ok}"
					   ng-class="{'boldAlertMetric': ctrl.panel.fontFormat === 'Bold', 'italicAlertMetric': ctrl.panel.fontFormat === 'Italic'} " ng-if="ctrl.statusMetrics.length > 0 && ctrl.triggeredStatuses.length === 0">
					   <img src="{{ctrl.getFirstNotNullIcon(series, ctrl.DEFAULT_OR_STATUS_ICON)}}" alt="Good">
					   <a ng-if="ctrl.statusMetrics[0].group.alias && ctrl.statusMetrics[0].group.url" ng-href="{{ ctrl.statusMetrics[0].group.url | interpolateTemplateVars:this }}" target="_blank" >{{ ctrl.formatAlias(ctrl.statusMetrics[0].group.alias, ctrl.statusMetrics.length, 'ok') }}</a>
					   <a ng-if="!ctrl.statusMetrics[0].group.alias && ctrl.statusMetrics[0].group.url" ng-href="{{ ctrl.statusMetrics[0].group.url | interpolateTemplateVars:this }}" target="_blank" >{{ ctrl.statusMetrics.length }} {{ ctrl.statusMetrics[0].group.name }} ok</a>
					   <a ng-if="ctrl.statusMetrics[0].group.alias && !ctrl.statusMetrics[0].group.url" ng-href="{{ ctrl.statusMetrics[0].url | interpolateTemplateVars:this }}" target="_blank" >{{ ctrl.formatAlias(ctrl.statusMetrics[0].group.alias, ctrl.statusMetrics.length, 'ok') }}</a>
					   <a ng-if="!ctrl.statusMetrics[0].group.alias && !ctrl.statusMetrics[0].group.url" ng-href="{{ ctrl.statusMetrics[0].url | interpolateTemplateVars:this }}" target="_blank" >{{ ctrl.statusMetrics.length }} {{ ctrl.statusMetrics[0].group.name }} ok</a>
						<!-- <span ng-show="display.isDisplayValue">{{ display.display_value | numberOrTextWithRegex : display.valueDisplayRegex }}</span> -->
					</div>

					<!-- GROUP HANDLING -->

					<div ng-style="ctrl.panel.colorMode === 'Metric' && {'color': ctrl.getColorByThresholdName(ctrl.getStatusWithGreatedOrder(metrics).name)}"
						ng-class="{'boldAlertMetric': ctrl.panel.fontFormat === 'Bold', 'italicAlertMetric': ctrl.panel.fontFormat === 'Italic'}" ng-repeat="(group, metrics) in ctrl.groupTriggeredThresholds">
						<img ng-if="ctrl.panel.iconSwitch && metrics[0].display_icon && ((metrics[0].tags_type == 'Metric' || !metrics[0].tag) || (metrics[0].tags_type == 'Line' && !metrics[0].tag))" ng-show="metrics[0].display_icon" alt="error" src="{{ctrl.getStatusWithGreatedOrder(metrics).icon}}">
						<img ng-if="ctrl.panel.iconSwitch && !metrics[0].display_icon && metrics.length && ((metrics[0].tags_type == 'Metric' || !metrics[0].tag) || (metrics[0].tags_type == 'Line' && !metrics[0].tag))" src="https://icons.iconarchive.com/icons/paomedia/small-n-flat/24/sign-error-icon.png">
						<span ng-if="metrics[0].tag && metrics[0].tags_type === 'Line'" ng-show="metrics[0].tag">{{ metrics[0].tag }}</span>
						<a ng-if="metrics.length > 0 && metrics[0].group.url && metrics[0].group.alias" ng-href="{{ metrics[0].group.url | interpolateTemplateVars:this }}" target="_blank" >{{ ctrl.formatAlias(metrics[0].group.alias, metrics.length, ctrl.getStatusWithGreatedOrder(metrics).name) }}</a>
						<a ng-if="metrics.length > 0 && !metrics[0].group.url && metrics[0].group.alias" ng-href="{{ ctrl.error[0].url | interpolateTemplateVars:this }}" target="_blank" >{{ ctrl.formatAlias(metrics[0].group.alias, metrics.length, ctrl.getStatusWithGreatedOrder(metrics).name) }}</a>
						<a ng-if="metrics.length > 0 && metrics[0].group.url && !metrics[0].group.alias" ng-href="{{ metrics[0].group.url | interpolateTemplateVars:this }}" target="_blank" >{{ metrics.length }}: {{ metrics[0].group.name }}</a>
						<a ng-if="metrics.length > 0 && !metrics[0].group.url && !metrics[0].group.alias" ng-href="{{ ctrl.error[0].url | interpolateTemplateVars:this }}" target="_blank" >{{ metrics.length }}: {{ metrics[0].group.name }}</a>
						<span ng-if="metrics[0].tag && metrics[0].tags_type === 'Metric'" ng-show="metrics[0].tag">{{ metrics[0].tag }}</span>
						<span ng-if="metrics.length && metrics[0].isDisplayValue" >{{ metrics[0].display_value | numberOrTextWithRegex : display.valueDisplayRegex }}</span>
					</div>

					<div ng-style="ctrl.panel.colorMode === 'Metric' && {'color':ctrl.panel.colors.disable}"
						 ng-class="{'boldAlertMetric': ctrl.panel.fontFormat === 'Bold', 'italicAlertMetric': ctrl.panel.fontFormat === 'Italic'}"
						 ng-repeat="disabled in ctrl.disabled">
						<a ng-show="disabled.url" ng-href="{{ disabled.url | interpolateTemplateVars:this }}" target="_blank" style="color:inherit">{{ disabled.alias }}</a>
						<span ng-hide="disabled.url">{{ disabled.alias }}</span>
					</div>

					<div class="status_extra_alerts" ng-show="ctrl.extraMoreAlerts">{{ ctrl.extraMoreAlerts }}</div>
				</div>

				<!-- table format -->
				<div class="example-container mat-elevation-z8"
					ng-if="ctrl.panel.viewFormat == 'Tabular'">

					<!-- OK TABLE -->
					<table mat-table ng-repeat="display in ctrl.display">
						<ng-container matColumnDef="icon" ng-repeat="display in ctrl.display" >
							<td mat-cell *matCellDef="let element" ng-style="ctrl.panel.colorMode === 'Metric' && !ctrl.panel.isIgnoreOKColors && {'color':ctrl.panel.colors.ok}"
							class="icon">
								<img ng-if="ctrl.panel.iconSwitch" src="https://hds.static.autodesk.com/images/table-status-good.svg" class="icon" alt="Good">
							</td>
						</ng-container>
						<ng-container matColumnDef="alias" ng-repeat="display in ctrl.display" >
							<td mat-cell *matCellDef="let element" ng-style="ctrl.panel.colorMode === 'Metric' && !ctrl.panel.isIgnoreOKColors && {'color':ctrl.panel.colors.ok}"
							class="name">
								<span>
									{{ display.alias }}
								</span>
							</td>
						</ng-container>
						<ng-container matColumnDef="metric" ng-repeat="display in ctrl.display" >
							<td mat-cell *matCellDef="let element" ng-style="ctrl.panel.colorMode === 'Metric' && !ctrl.panel.isIgnoreOKColors && {'color':ctrl.panel.colors.ok}"
							class="value">
								<!-- <span ng-hide="display.url">{{ display.alias }}</span> -->
								<span ng-show="display.isDisplayValue">{{ display.display_value | numberOrTextWithRegex : display.valueDisplayRegex }}</span>
							</td>
						</ng-container>
					</table>

					<table>

						<tr ng-repeat="(group, metric) in ctrl.maxGroupTriggeredThresholds">

							<td ng-style="ctrl.panel.colorMode === 'Metric' && {'color': ctrl.getColorByThresholdName(metric.triggeredThreshold.name)}"
								ng-class="{'boldAlertMetric': ctrl.panel.fontFormat === 'Bold', 'italicAlertMetric': ctrl.panel.fontFormat === 'Italic'}"
								class="icon">
									<img ng-if="ctrl.panel.iconSwitch && metric.display_icon && ((metric.tags_type == 'Metric' || !metric.tag) || (metric.tags_type == 'Line' && !metric.tag))" ng-show="metric.display_icon" alt="crit" class="icon" src="{{metric.display_icon}}">
									<img ng-if="ctrl.panel.iconSwitch && !metric.display_icon && ((metric.tags_type == 'Metric' || !metric.tag) || (metric.tags_type == 'Line' && !metric.tag))" class="icon" src="https://icons.iconarchive.com/icons/custom-icon-design/flatastic-9/24/Warning-icon.png">
									<span ng-if="metric.tag && metric.tags_type === 'Line'" ng-show="metric.tag">
										{{ metric.tag }}
									</span>
							</td>
							<td ng-style="ctrl.panel.colorMode === 'Metric' && {'color':ctrl.getColorByThresholdName(metric.triggeredThreshold.name)}"
								ng-class="{'boldAlertMetric': ctrl.panel.fontFormat === 'Bold', 'italicAlertMetric': ctrl.panel.fontFormat === 'Italic'}"
								class="name">
								<a ng-if="metric.group.url && metric.group.alias" ng-href="{{ metric.group.url | interpolateTemplateVars:this }}" target="_blank">{{ ctrl.formatAlias(metric.group.alias, ctrl.groupTriggeredThresholds[group].length, metric.triggeredThreshold.name) }}</a>
								<a ng-if="metric.group.url && !metric.group.alias" ng-href="{{ metric.group.url | interpolateTemplateVars:this }}" target="_blank">{{ ctrl.groupTriggeredThresholds[group].length }}: {{ metric.group.alias }}</a>
								<a ng-if="!metric.group.url && metric.group.alias" target="_blank">{{ ctrl.formatAlias(metric.group.alias, ctrl.groupTriggeredThresholds[group].length, metric.triggeredThreshold.name) }}</a>
								<a ng-if="!metric.group.url && !metric.group.alias" target="_blank">{{ ctrl.groupTriggeredThresholds[group].length }}: {{ metric.group.name }}</a>
							</td>
							<td ng-style="ctrl.panel.colorMode === 'Metric' && {'color':ctrl.getColorByThresholdName(metric.triggeredThreshold.name)}"
								ng-class="{'boldAlertMetric': ctrl.panel.fontFormat === 'Bold', 'italicAlertMetric': ctrl.panel.fontFormat === 'Italic'}"
								class="value">
								<span ng-if="metric.tag && metric.tags_type === 'Metric'" ng-show="metric.tag">
									{{ metric.tag }}
								</span>
								<span ng-if="metric.isDisplayValue">
									{{ metric.display_value | numberOrTextWithRegex : display.valueDisplayRegex }}
								</span>
							</td>
						</tr>

					</table>

				</div>

			</div>
		</div>

		<div class="center_content_hidden_section" ng-if="ctrl.annotation.length !== 0"/>
	</div>
</div>